*{
    padding: 0;
    margin: 0;
    color: rgb(193, 236, 236);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

body{
    background-image: linear-gradient(0deg, #912298 0%, #1d3b71 23%, #060606 70%);
}


.header{
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0,75);
    -webkit-box-shasow: -1px  10px 5px rgba(0,0,0,0,75);
    -moz-box-shadow: -1px 10px 5px 0px  rgba(0,0,0,0,75)
}


.favicon{
    width: auto;
    height: 45px;

}
.header{
    background-color: transparent;
}
.nav{
    display:flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

a{
    text-decoration: none;
    margin: 2rem;
    justify-content: center;
} 
.navfavicon{
 width: 100%;
 height: -webkit-fill-available;
}
.img1 {
  width: 100px;
    border-radius: 120% ;
    margin-top: 50px;
}
#inicio {
    background: url(./pexelsfondo.jpeg);
    background-repeat: no-repeat ;
    background-size: cover ;
    background-attachment: fixed;
    height: 50vh ;
    position:relative;
    align-items: center;
    justify-content: center;
}
.inicioh1{
    color: #b779ed;
}
.inicioDiv{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.botoninicio{
    opacity: 80%;
     background-color:darkgrey;
    color: rgba(7, 7, 7, 0.937);
    margin-bottom: 0,2rem;
    cursor: pointer;
}

.sobremi{
    width: 30%;
    padding: 2rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   margin-right: 50%;
}
.sobremi div h2{
  margin-top: 10px;
    color: rgb(0, 255, 179);
    text-align: center;  
}
.marginBottom{
    margin-bottom: 2rem;
}
.edu{
   width: 50%;
  margin-top: -270px;
   margin-left: 60%;
    
 }
 .edu div h2{
    
     margin-top: 10px;
    color: rgb(0, 255, 179);
 }

 /* ---------------------------------tecnologias----------------------------------------- */
 .tecnologiastittle{
     text-align: center;
 }
 .tecnologias{
     margin-top: 5px;
   
 }
 .tecnologias h2{
    color: rgb(0, 255, 179);
 }
 /* -------------------------------Servicios------------------------------------------- */
 .servicios h2{
    color: rgb(0, 255, 179);
    text-align: center;
    grid-column: 1/4;
 }
 .servicios{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 0,5fr 1fr 1fr;     
 }
 .proyectos h2{
    color: rgb(0, 255, 179);  
    grid-column: 1/4;
    text-align: center;
 }
 .proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 1fr; 
 }
 /* ------------------------------Contacto-------------------------------------------- */
 .contacto h2{
    color: rgb(0, 255, 179);
    text-align: center;
 }
 .botonenviar{
     color: rgb(17, 27, 25);
     background-color:indianred;
 }
 /* -------------------------------progress bar------------------------------------------- */
 .progress-bar {
    border: 2px solid rgb(109, 120, 80);
    border-radius: 14px;
 } 
 
 .progress-bar > div {
    color: white;
    background: rgb(206, 180, 50);
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0px;
    border-radius: 10px;
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
 } 
 
 @-webkit-keyframes progress-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes progress-bar {
    0% { width: 0; }
 }
 /* --------------------------------footer------------------------------------------ */
 .home{
     margin-left: 50%;
     margin-top: 10px;
 }

 /* --------------------------------contacto------------------------------------------ */

 .contacto{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2rem 2rem;
 }

 .form{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-around;
height: 300px;
border:cadetblue solid 2px ;
border-radius: 0,5rem;
background-color: rgb(62, 62, 62);
}

.label{
    display: flex;
    flex-direction: column;
}
.input{
    width: 300px;
    padding: 0,5rem;
    border-radius: 0,5rem;
    background-color:brown ;
    
}

.texttarea{
    background-color:brown ;
    margin-top: 10px;
    border-radius: 0,5rem;
}

::placeholder{
    color: azure;
}

.botonenviar{
    width: 300px;
}
.footer{
    border-top: rgb(45, 45, 54) solid 1px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width:600px){
    header{
        flex-direction: row;
        padding: 0px 30px;
        justify-content: space-between;
        }
    }
    

